/* .class
#id */

/* #types p {
  cursor: pointer;
} */


#title {
  /* color: blue; */
  text-align: center;
  margin-top: 10px;
  font-family: 'Playfair Display',
      serif;
}


#types {
font-family: 'Playfair Display', serif;
font-weight: 400;
/* margin-top: 20px; */
font-size: 15px;
/* margin-right: 50px; */
/* margin-left: 80px; */
/* margin-top: 20px; */
margin-left: 200px;
/* margin-right: 300px; */
}



#types h3 {
  margin-left: 150px;
}

/* #types img {
  max-height: 70px;
  max-width: 70px;
} */


#sign_up_image {
  max-width: 50vw;
  display: block !important;
  margin-top: 100px !important;
  margin-bottom: auto !important;

  /* margin-right: 300px; */
}

#hair_title {
  /* margin: 0; */
}
.circle {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  /* background-color: white; */
  border-radius: 50%;
  display: inline-block;
}
#t1 {
  /* display: flex;
  justify-content: space-evenly; */

}

#t3 {
  /* display: flex; */
  /* justify-content: space-evenly; */
}

#t1 img {
  max-width: 70px;
  max-height: 70px;
}
#t2 p {
  flex-wrap: wrap;
}
#t1 p {
  flex-wrap: wrap;
}


/* #t2 {
    justify-content: space-evenly;
} */
/* #t1 p {
  flex-direction: row;
}

#t2 {
  display: flex;
}



.container {
  display: grid;
  grid-row-gap: 50px;
}

.item{
  order : <integer>;
}
.item {
  flex-grow: <number>; /* default 0 */
/* .signup {
  text-align: center;
} */

/* #types {
  width: 100%; margin: 0 auto;
} */
/*
#types h3 {
  text-align: left;
}

.left, .right {width: 45%; float: left;} */
