/* .class
#id */

#title {
  color: blue;
  text-align: center;
}


#hair_title {
  margin: 0;
}
#hair {
  display: flex;

}

#concerns {
    justify-content: space-around;
}
#hair p {
  flex-direction: row;

}

#concerns {
  display: flex;
}
#concerns p {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: grid;
  grid-row-gap: 50px;
}

.item{
  order : <integer>;
}
.item {
  flex-grow: <number>; /* default 0 */
}
/* .signup {
  text-align: center;
} */

/* #types {
  width: 100%; margin: 0 auto;
} */
/*
#types h3 {
  text-align: left;
}

.left, .right {width: 45%; float: left;} */
