/* body { 
    background-color: grey;

} */
.navbar {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.item3 h5 span {
    text-decoration: none;
    color: black;
}

.item1 h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-top: 20px;
    font-size: 15px;
    margin-left: 80px;
}



.item2 h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
    margin-left: 70px;

}

.item3 h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 15px;
    margin-right: 95px;
}

#signin, #signup, #home { 
    text-decoration: none;
    color: black;

}
#signin:hover,
#signup:hover,
#home:hover {
    color: #6DD3C2;
    cursor: pointer;
}


/* smaller navbar */

.small_navbar {
    margin-top: 10px;
    display: block;
    padding-top: 5px;
    padding-bottom: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #ebeaeb
    
}

.itemA h5 a,
.itemB h5 a,
.itemC h5 a,
.itemD h5 a,
.itemE h5 a {
    text-decoration: none;
    color: black;
}

.itemA h5 a:hover,
.itemB h5 a:hover,
.itemC h5 a:hover,
.itemD h5 a:hover { 
    color: #6DD3C2;
    cursor: pointer;
}

.itemA h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    /* margin-top: 20px; */
    font-size: 15px;
    margin-right: 50px;
    /* margin-left: 80px; */
}

.itemB h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 15px;
    /* margin-left: 70px; */

}

.itemC h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 50px;
}

.itemD h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 50px;
}

.welcome {
    margin-top: 45px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Playfair Display',
        serif;
}



/* carousel */

.landing_image {
    margin: 0px;
    /* margin-top: 10px; */
    margin-bottom: 60px;
    max-width: 100%;

}
.carousel-indicators li {
    /* position: relative; */
    /* height: 200px; */
    background-color: #ebeaeb;
}

.carousel-indicators .active {
    background-color: black;
}







/* about page */

.about { 
    /* margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about h1 { 

    text-align:  center; 
    font-family: 'Playfair Display',
        serif;
    font-weight: bold;
    font-style: 900i;
    font-size: 30px;
    font-style: italic;

}

.about p{ 
    /* text-align: center; */
    font-family: 'Playfair Display',
        serif;
}


/* check in walkthrough */

.check_in img { 
    height: 100vh;
}


.check_in_header {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Playfair Display',
        serif;
    font-weight: bold;
    font-style: italic;
    font-style: 900;
    font-size: 30px;

}


/* 
.info { 
    position: relative;

}

.info > img { 
    position: absolute;
    bottom: 50px;
    left: 10px;
    max-width: 100px;
}


.steps > h5{
    position: absolute;
    font-family: 'Playfair Display',
    serif;
    font-weight: 700;
    top: 50%;
        /* display: block;
        margin-top: auto;
        margin-bottom: auto; */


}

.steps > p{ 
    font-family: 'Playfair Display',
    serif;
    font-weight: 400;
} */


